<a href="https://colab.research.google.com/github/jessica8403/TIL/blob/master/pandas_practice_12_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [5]:
arr1d=np.array([1,2,3,4,5])

In [6]:
arr1d

array([1, 2, 3, 4, 5])

In [7]:
arr1d.shape

(5,)

In [15]:
arrN = np.arange(1,31).reshape(3,10)
arrN

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]])

In [20]:
arrN= np.arange(1, 51).reshape(5, 10)

In [21]:
arrN

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]])

In [30]:
np.random.randint(1,46,size=6)

array([28,  5, 21, 42, 11, 15])

In [31]:
arr = np.arange(1, 46)
np.random.choice(arr, size=6, replace=False)

array([ 2,  8,  5, 17, 24,  7])

In [32]:
import pandas as pd

In [33]:
series=pd.Series([1,2,3,4,5,6])

In [34]:
series

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [44]:
weight = pd.DataFrame([
  [76.4, 'kg'],
  [75.7, 'kg'],
  [76, 'kg'],
  [76.2, 'kg']
])

In [46]:
weight

      0   1
0  76.4  kg
1  75.7  kg
2  76.0  kg
3  76.2  kg

In [51]:
weight= pd.DataFrame ([
                       [ 55, 'kg'],
                      [67,'kg'],
                      [98, 'kg']
                       ])

In [52]:
weight

    0   1
0  55  kg
1  67  kg
2  98  kg

In [74]:
rawData=pd.read_csv('/content/drive/MyDrive/weight_log.csv의 사본 (1)')

In [75]:
rawData

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  홍길동  2020-03-01  76.4  kg  박현경  관악구
1   2  홍길동  2020-03-02  75.7  kg  김현경  관악구
2   3  홍길동  2020-03-03  76.0  kg  최현경  여의도
3   4  홍길동  2020-03-04   NaN  kg  최현경  여의도
4   5  홍길동  2020-03-05  76.2  kg  김현경  강남구
5   6  홍길동  2020-03-06  75.7  kg  최현경  서초구
6   7  홍길동  2020-03-07   NaN  kg  최현경  서초구
7   8  홍길동  2020-03-08   NaN  kg  김현경  서초구
8   9  홍길동  2020-03-09  75.0  kg  김현경  서초구

In [76]:
rawData.head(n=5)

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  홍길동  2020-03-01  76.4  kg  박현경  관악구
1   2  홍길동  2020-03-02  75.7  kg  김현경  관악구
2   3  홍길동  2020-03-03  76.0  kg  최현경  여의도
3   4  홍길동  2020-03-04   NaN  kg  최현경  여의도
4   5  홍길동  2020-03-05  76.2  kg  김현경  강남구

In [77]:
rawData.tail(n=4)

   회차   이름         측정일   몸무게  단위   담당   지점
5   6  홍길동  2020-03-06  75.7  kg  최현경  서초구
6   7  홍길동  2020-03-07   NaN  kg  최현경  서초구
7   8  홍길동  2020-03-08   NaN  kg  김현경  서초구
8   9  홍길동  2020-03-09  75.0  kg  김현경  서초구

In [78]:
rawData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회차      9 non-null      int64
 1   이름      9 non-null      object
 2   측정일     9 non-null      object
 3   몸무게     6 non-null      float64
 4   단위      9 non-null      object
 5   담당      9 non-null      object
 6   지점      9 non-null      object
dtypes: float64(1), int64(1), object(5)
memory usage: 632.0+ bytes

In [79]:
rawData.describe(include='all')

              회차   이름         측정일        몸무게   단위   담당   지점
count   9.000000    9           9   6.000000    9    9    9
unique       NaN    1           9        NaN    1    3    4
top          NaN  홍길동  2020-03-03        NaN   kg  최현경  서초구
freq         NaN    9           1        NaN    9    4    4
mean    5.000000  NaN         NaN  75.833333  NaN  NaN  NaN
std     2.738613  NaN         NaN   0.492612  NaN  NaN  NaN
min     1.000000  NaN         NaN  75.000000  NaN  NaN  NaN
25%     3.000000  NaN         NaN  75.700000  NaN  NaN  NaN
50%     5.000000  NaN         NaN  75.850000  NaN  NaN  NaN
75%     7.000000  NaN         NaN  76.150000  NaN  NaN  NaN
max     9.000000  NaN         NaN  76.400000  NaN  NaN  NaN

In [80]:
rawData['몸무게']

0    76.4
1    75.7
2    76.0
3     NaN
4    76.2
5    75.7
6     NaN
7     NaN
8    75.0
Name: 몸무게, dtype: float64

In [85]:
col=['이름','몸무게','담당']

In [86]:
rawData[col]

    이름   몸무게   담당
0  홍길동  76.4  박현경
1  홍길동  75.7  김현경
2  홍길동  76.0  최현경
3  홍길동   NaN  최현경
4  홍길동  76.2  김현경
5  홍길동  75.7  최현경
6  홍길동   NaN  최현경
7  홍길동   NaN  김현경
8  홍길동  75.0  김현경

In [87]:
rawData.loc[0:3]

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  홍길동  2020-03-01  76.4  kg  박현경  관악구
1   2  홍길동  2020-03-02  75.7  kg  김현경  관악구
2   3  홍길동  2020-03-03  76.0  kg  최현경  여의도
3   4  홍길동  2020-03-04   NaN  kg  최현경  여의도

In [93]:
rawData[(rawData['지점']=='서초구') & (rawData['담당']=='김현경')]

   회차   이름         측정일   몸무게  단위   담당   지점
7   8  홍길동  2020-03-08   NaN  kg  김현경  서초구
8   9  홍길동  2020-03-09  75.0  kg  김현경  서초구

In [97]:

        
rawData[ (rawData['지점'] == '서초구') & (rawData['담당'].isin(['김현경', '최현경'])) ]

   회차   이름         측정일   몸무게  단위   담당   지점
5   6  홍길동  2020-03-06  75.7  kg  최현경  서초구
6   7  홍길동  2020-03-07   NaN  kg  최현경  서초구
7   8  홍길동  2020-03-08   NaN  kg  김현경  서초구
8   9  홍길동  2020-03-09  75.0  kg  김현경  서초구

In [102]:
rawData[(rawData['담당'].str.contains('김'))]

   회차   이름         측정일   몸무게  단위   담당   지점
1   2  홍길동  2020-03-02  75.7  kg  김현경  관악구
4   5  홍길동  2020-03-05  76.2  kg  김현경  강남구
7   8  홍길동  2020-03-08   NaN  kg  김현경  서초구
8   9  홍길동  2020-03-09  75.0  kg  김현경  서초구

In [104]:
rawData[rawData['몸무게'].isna()]

   회차   이름         측정일  몸무게  단위   담당   지점
3   4  홍길동  2020-03-04  NaN  kg  최현경  여의도
6   7  홍길동  2020-03-07  NaN  kg  최현경  서초구
7   8  홍길동  2020-03-08  NaN  kg  김현경  서초구

In [105]:
rawData[rawData['몸무게'].notna()]

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  홍길동  2020-03-01  76.4  kg  박현경  관악구
1   2  홍길동  2020-03-02  75.7  kg  김현경  관악구
2   3  홍길동  2020-03-03  76.0  kg  최현경  여의도
4   5  홍길동  2020-03-05  76.2  kg  김현경  강남구
5   6  홍길동  2020-03-06  75.7  kg  최현경  서초구
8   9  홍길동  2020-03-09  75.0  kg  김현경  서초구

In [108]:
rawData['몸무게'].describe()

count     6.000000
mean     75.833333
std       0.492612
min      75.000000
25%      75.700000
50%      75.850000
75%      76.150000
max      76.400000
Name: 몸무게, dtype: float64

In [109]:
rawData[rawData['몸무게'] > 76.15]

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  홍길동  2020-03-01  76.4  kg  박현경  관악구
4   5  홍길동  2020-03-05  76.2  kg  김현경  강남구

In [116]:
low=rawData['몸무게'].quantile(0.01)
high=rawData['몸무게'].quantile(0.99)
rawData[ (rawData['몸무게'] < high) & (rawData['몸무게'] > low) ]

   회차   이름         측정일   몸무게  단위   담당   지점
1   2  홍길동  2020-03-02  75.7  kg  김현경  관악구
2   3  홍길동  2020-03-03  76.0  kg  최현경  여의도
4   5  홍길동  2020-03-05  76.2  kg  김현경  강남구
5   6  홍길동  2020-03-06  75.7  kg  최현경  서초구

In [122]:
rawData[rawData.duplicated(subset=['지점'],keep=False)]

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  홍길동  2020-03-01  76.4  kg  박현경  관악구
1   2  홍길동  2020-03-02  75.7  kg  김현경  관악구
2   3  홍길동  2020-03-03  76.0  kg  최현경  여의도
3   4  홍길동  2020-03-04   NaN  kg  최현경  여의도
5   6  홍길동  2020-03-06  75.7  kg  최현경  서초구
6   7  홍길동  2020-03-07   NaN  kg  최현경  서초구
7   8  홍길동  2020-03-08   NaN  kg  김현경  서초구
8   9  홍길동  2020-03-09  75.0  kg  김현경  서초구